<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="../static/form.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="../static/printstyles.css" media="print"/>
  <title>5C Menu Alert</title>
</head>
<body style="background-color:#E6E6DC">
  <div id="form" class="test">

    <center><h1>5C Menu Alert</h1></center>
    <center><h2>You're all set!</h2></center>
    <center><h3>Happy Eating :D</h3></center>

  </div>
</body>
</html>

